body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    color: #606060;
    font-weight: 800;

}

p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;



}

ul {
    font-family: monospace;
    font-size: 18px;
    margin-left: 100px;
    padding: 20px;
    border: solid 2px rgb(10, 0, 2);

}



ul li a {
    font-weight: bold;
    color: rgb(255, 208, 0);
    text-decoration-color: #242424;
}

.ejemplo,
.ejemplo a {
    color: rgb(128, 62, 0);
}

ul {
    width: 40%;

}

ul li {

    list-style: none;
    padding: 10px;

}

ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);

}